img{
    height: 250px;
    width: 340px;
}

/*
.name_id{
    position: absolute;
    font-size: 20px;
    margin-left: 0px;
    background-color: aqua;
    width: 200px;
}
.pic1 div{
    position: relative;
    margin-left: 200px;
}

.pic2 div{
    position: relative;
    margin-left: 500px;
}
.member_year p{
}

}
*/
.x{
    padding: 0px;
}
.s_list{
/*    align-content: center;*/
    position: relative;
    float: left;
    list-style-type: none;
    border-style: solid;
    font-style: italic;
    font-size: 17px;
    text-align: center;
    margin-right: 170px;
    margin-left: 50px;
    margin-bottom: 100px;
}
